/* Set the background color for the whole application */
body {
    background-color: #000; /* Black */
    color: #fff; /* White text color */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
  }
  